.planet__container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.planet {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: 137px;
  margin-bottom: 87px;
  max-width: 1110px;
  width: 100%;
}

.planet__container--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.planet__img-geology-earth {
  width: 163px;
  height: 199px;
  bottom: -15%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-earth.png");
}
.planet__img-geology-jupiter {
  width: 163px;
  height: 199px;
  bottom: 5%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-jupiter.png");
}
.planet__img-geology-mars {
  width: 163px;
  height: 199px;
  bottom: -20%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-mars.png");
}
.planet__img-geology-mercury {
  width: 163px;
  height: 199px;
  bottom: -25%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-mercury.png");
}
.planet__img-geology-neptune {
  width: 163px;
  height: 199px;
  bottom: -20%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-neptune.png");
}
.planet__img-geology-saturn {
  width: 163px;
  height: 199px;
  flex-shrink: 0;
  bottom: 10%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("./geology-saturn.png");
}
.planet__img-geology-uranus {
  background-image: url("./geology-uranus.png");
  width: 163px;
  height: 199px;
  flex-shrink: 0;
  bottom: -20%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.planet__img-geology-venus {
  width: 163px;
  height: 199px;
  flex-shrink: 0;
  bottom: -20%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  background-image: url("./geology-venus.png");
}

.planet__info-title {
  color: #fff;
  font-family: Antonio;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.planet__info-content {
  color: #fff;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  max-width: 350px; /* 178.571% */
  width: 350px;
  margin-bottom: 24px;
}

.planet__links {
  margin-bottom: 39px;
}
.planet__info-source {
  color: #fff;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}

.planet__source {
  color: #fff;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  opacity: 0.75;
}
.planet__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.earth__button--internal-structure,
.earth__button--surface-geology,
.earth__button--overview,
.planet__button {
  max-width: 350px;
  width: 100%;
  height: 48px;

  background-color: transparent;
  cursor: pointer;
  border: 1px solid hwb(0 100% 0% / 0.2);
  color: #fff;
  font-family: Spartan;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 208.333% */
  letter-spacing: 2.571px;
  text-transform: uppercase;
  transition: 0.2s;
  padding: 0 1rem;
}

.earth__button--surface-geology:hover,
.earth__button--overview:hover,
.earth__button--internal-structure:hover,
.planet__button:hover {
  transition: 0.2s;
  background: #38384f;
}
.mercury__button--surface-geology:focus,
.mercury__button--internal-structure:focus,
.mercury__button--overview:focus {
  transition: 0.2s;
  background: #1ec1a2;
}

.venus__button--surface-geology:focus,
.venus__button--internal-structure:focus,
.venus__button--overview:focus {
  transition: 0.2s;
  background: #eda249;
}
.mars__button--surface-geology:focus,
.mars__button--internal-structure:focus,
.mars__button--overview:focus {
  transition: 0.2s;
  background: #d14c32;
}
.jupiter__button--surface-geology:focus,
.jupiter__button--internal-structure:focus,
.jupiter__button--overview:focus {
  transition: 0.2s;
  background: #d83a34;
}
.saturn__button--surface-geology:focus,
.saturn__button--internal-structure:focus,
.saturn__button--overview:focus {
  transition: 0.2s;
  background: #cd5120;
}
.uranus__button--surface-geology:focus,
.uranus__button--internal-structure:focus,
.uranus__button--overview:focus {
  transition: 0.2s;
  background: #1ec1a2;
}
.neptune__button--surface-geology:focus,
.neptune__button--internal-structure:focus,
.neptune__button--overview:focus {
  transition: 0.2s;
  background: #2d68f0;
}
.earth__button--surface-geology:focus,
.earth__button--internal-structure:focus,
.earth__button--overview:focus {
  transition: 0.2s;
  background: #6d2ed5;
}

.planet__button-number {
  opacity: 0.5;
}
.planet__img {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
}

.planet__container {
  color: white;
}

.planet__data {
  margin-bottom: 2rem;
  max-width: 1110px;
  width: 100%;
}

.planet__data-list {
  list-style: none;
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.planet__data-item-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;

  width: 255px;
  height: 128px;
  padding-left: 23px;
  align-items: center;
}

.planet__data-item {
  display: flex;
  flex-direction: column;

  color: #fff;
  font-family: Antonio;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}
.planet__data-label {
  color: #fff;
  font-family: Spartan;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 227.273% */
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1045px) {
  .planet {
    display: flex;
    flex-wrap: wrap;
  }
  .planet__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 69px;
    margin: 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 540px) {
  .planet__container--img > img {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .planet__container {
    padding: 1rem;
  }
  .planet {
    display: flex;
    flex-wrap: wrap;
  }

  .planet__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 69px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .planet__buttons-container {
    position: absolute;
    top: 84px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    transition: 0.3s;
    justify-content:space-around;
   
  }
  .planet__button {
    transition: 0.3s;
    
    font-family: Spartan;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
    text-transform: uppercase;
    border: none;
   max-width: 80px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
  }


.earth__button--surface-geology:hover,
.earth__button--overview:hover,
.earth__button--internal-structure:hover,
.planet__button:hover {
  transition: 0.2s;
  background: none;
}

.mercury__button--surface-geology,
.mercury__button--internal-structure,
.mercury__button--overview,
.venus__button--surface-geology,
.venus__button--internal-structure,
.venus__button--overview,
.mars__button--surface-geology,
.mars__button--internal-structure,
.mars__button--overview,
.jupiter__button--surface-geology,
.jupiter__button--internal-structure,
.jupiter__button--overview,
.saturn__button--surface-geology,
.saturn__button--internal-structure,
.saturn__button--overview,
.uranus__button--surface-geology,
.uranus__button--internal-structure,
.uranus__button--overview,
.neptune__button--surface-geology,
.neptune__button--internal-structure,
.neptune__button--overview,
.earth__button--surface-geology,
.earth__button--internal-structure,
.earth__button--overview,
.mercury__button--surface-geology,
.mercury__button--internal-structure,
.mercury__button--overview {
  position: relative;
  overflow: hidden;
}

.mercury__button--surface-geology::after,
.mercury__button--internal-structure::after,
.mercury__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #1ec1a2;
  transition: width 0.2s ease-in-out;
}

.venus__button--surface-geology:focus::after,
.venus__button--internal-structure:focus::after,
.venus__button--overview:focus::after,
.mars__button--surface-geology:focus::after,
.mars__button--internal-structure:focus::after,
.mars__button--overview:focus::after,
.jupiter__button--surface-geology:focus::after,
.jupiter__button--internal-structure:focus::after,
.jupiter__button--overview:focus::after,
.saturn__button--surface-geology:focus::after,
.saturn__button--internal-structure:focus::after,
.saturn__button--overview:focus::after,
.uranus__button--surface-geology:focus::after,
.uranus__button--internal-structure:focus::after,
.uranus__button--overview:focus::after,
.neptune__button--surface-geology:focus::after,
.neptune__button--internal-structure:focus::after,
.neptune__button--overview:focus::after,
.earth__button--surface-geology:focus::after,
.earth__button--internal-structure:focus::after,
.earth__button--overview:focus::after,
.mercury__button--surface-geology:focus::after,
.mercury__button--internal-structure:focus::after,
.mercury__button--overview:focus::after {
  width: 100%;
}


.venus__button--surface-geology::after,
.venus__button--internal-structure::after,
.venus__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px #eda249 solid;
}
.mars__button--surface-geology::after,
.mars__button--internal-structure::after,
.mars__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px #d14c32 solid;
}
.jupiter__button--surface-geology::after,
.jupiter__button--internal-structure::after,
.jupiter__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px #d83a34 solid;
}
.saturn__button--surface-geology::after,
.saturn__button--internal-structure::after,
.saturn__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px #cd5120 solid;
}
.uranus__button--surface-geology::after,
.uranus__button--internal-structure::after,
.uranus__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px #1ec1a2 solid;
}
.neptune__button--surface-geology::after,
.neptune__button--internal-structure::after,
.neptune__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
  transition: 0.2s;
  border-bottom:3px  #2d68f0 solid;
}
.earth__button--surface-geology::after,
.earth__button--internal-structure::after,
.earth__button--overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
transition: width 0.2s ease-in-out;
 border-bottom:3px #6d2ed5 solid;
} 



}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Menu Hamburguesa  */
