* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__cotainer{
  max-width: 1440px;
  width: 100%;
  background: url("./assets/background-stars.svg");
  min-height: 100vh;
  margin: 0 auto;
  background-color: black;
}

